<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

## My Jupiter Notebook on IBM Watson

__Daffa Akifah Balqis__

A college student

_I am interested in science, technology, mathematic, and languange._

This is a simple task that using Jupyter_Notebook

In [2]:
2022 * 2 + 4

4048

<html>
    <title>aaa</title>
    <body>
        <h1>a list of number</h1>
        <ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
            <li>Four</li>
            <li>Five</li>
            <li>Six</li>
        </ul>
        <ol>
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
            <li>E</li>
            <li>F</li>
        </ol>
        <table style="width:100% border:black">
            <tr>
                <th>Name</th>
                <th>Group</th>
                <th>Hobby</th>
            </tr>
            <tr>
                <th>Dery</th>
                <th>WayV</th>
                <th>Watching a movie</th>
            </tr>
            <tr>
                <th>Jun</th>
                <th>WayV<t
        </table>
    </body>
    </html>